Repository SamHoque/bun-library-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, biome

eslint:
  run: bun run lint

biome:
  run: bun run biome

Create dependabot.yml
  .github/dependabot.yml
Due: none

Potential fix for code scanning alert no. 3: Workflow does not contain permissions
  .github/workflows/knip.yml
Due: none

Potential fix for code scanning alert no. 2: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/release.yml
Due: none

:arrow_up: chore: update dev dependencies
  biome.json
  bun.lock
  package.json
Due: biome

:recycle: refactor: migrate from vitest to bun test runner
  bun.lock
  package.json
  test/index.test.ts
  vitest.config.ts
Due: eslint, biome

:hammer: chore: migrate build system from vite to bunup
  .config/eslint.config.ts
  README.md
  biome.json
  bun.lock
  bunup.config.ts
  knip.json
  package.json
  vite.config.ts
Due: eslint, biome

docs: add comprehensive README and .gitignore
  .gitignore
  README.md
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  biome: any of: *.{js,ts,jsx,tsx,json}
